.add-item-page {
  width: 99%;
  height: 90%;
  display: flex;
  flex-direction: column;
  background-color: white;
  /* position: absolute; */
  margin-block: 15px;
  border-radius: 10px;
  box-shadow: 0px 3px 5px gray;
}

.add-page-name {
  text-align: left;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.7s;
  font-family: Poppins;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  margin: 15px;
  width: min-content;
  text-wrap: nowrap;
}

.form-holder {
  width: 100%;
  display: flex;
  margin-block: 20px;
  justify-content: center;
}

.form {
  border-radius: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 80%;
  margin-bottom: 1rem;
  display: grid;
  justify-self: center;
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-field {
  margin-bottom: 1rem;
  width: 40%;
}

.form-label {
  display: block;
  color: #4a5568;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.form-input {
  border: 1px solid #cbd5e0;
  border-radius: 0.25rem;
  width: 100%;
  padding: 0.5rem 0.75rem;
  color: black;
  outline: none;
}

.form-input:focus {
  box-shadow: 0 0 0 3px rgba(102, 38, 113, 1);
}

.form-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5%;
}

/* Buttons */

.save-button {
  background-color: rgba(102, 38, 113, 1);
  color: #ffffff;
  font-size: 16px;
  font-weight: 100;
  padding: 10px 60px;
  border-radius: 50px;
  outline: none;
  transition: 0.3s;
}

.save-button:active {
  background-color: rgb(77, 28, 85);
  transform: scale(0.9);
  transition: 0.1s;
}

.cancel-button {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: 100;
  padding: 10px 60px;
  border-radius: 50px;
  border: 1px solid gray;
  outline: none;
  transition: 0.3s;
}

.cancel-button:hover {
  background-color: #ffb4b4;
}

.cancel-button:active {
  background-color: #ff2828;
  transform: scale(0.9);
  transition: 0.1s;
  color: white;
}

/*number fields*/

.number-field {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  width: 40%;
  margin-bottom: 1rem;
}

.number-field-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.number-input {
  border: 1px solid #cbd5e0;
  border-radius: 0.25rem;
  width: 100%;
  padding: 0.5rem 0.75rem;
  color: black;
  outline: none;
  text-align: center;
  -moz-appearance: textfield;
}

.number-btns-holder {
  display: flex;

  gap: 5px;
}

.decrease-btn,
.increase-btn {
  background-color: rgba(102, 38, 113, 1);
  color: #ffffff;
  font-size: 20px;
  font-weight: 100;
  padding: 5px 10px;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s;
}

.decrease-btn:hover,
.increase-btn:hover {
  background-color: rgb(77, 28, 85);
}

.decrease-btn:active,
.increase-btn:active {
  background-color: rgb(58, 21, 64);
  transform: scale(0.9);
  transition: 0.1s;
}
