.topNav {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
  /* background-color: blue; */
  position: relative;
}

.profile_dropdown {
  position: absolute;
  background-color: white;
  /* border: 1px solid black; */
  width: auto;
  height: auto;
  bottom: -150%;
  left: -50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.topNavIcons {
  cursor: pointer;
  color: gray;
  font-weight: 600;
  position: relative;
  /* background-color: green; */
}

.userDiv {
  /* background-color: var(--theme-color); */
  background-color: gray;
  border-radius: 50%;
  transition: all 0.7s;
  transform: scale(0.7);
}

#logout_Screen {
  width: 100vw;
  height: 100vh;
  top: 0%;
  left: 0%;
  position: absolute;
  background-color: rgba(66, 66, 66, 0.767);
  display: none;
  justify-content: center;
  align-items: center;
}

#logoutBox {
  background-color: white;
  /* box-shadow: 0 0 5px 2px white; */
  border-radius: 5px;
  width: 200px;
  height: auto;
  padding: 17px;
  transform: scale(0);
  transition: 0.3s;
  opacity: 1;
  user-select: none;
}

.logout_Btn_Holder {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 0px 0;
}

.logout_Btn_Holder a {
  color: var(--theme-color);
}

.logout_btns {
  background-color: rgb(238, 238, 238);
  padding: 5px 13px;
  border-radius: 5px;
  cursor: pointer;
}

.logout_btns:hover {
  background-color: var(--theme-color);
  color: white;
}

body::-webkit-scrollbar {
  -ms-overflow-style: none;
  display: none;
  scrollbar-width: none;
}
