.layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 100px;
  background: rgba(102, 38, 113, 1);
  color: white;
  display: flex;
  padding-inline: 5%;
  justify-content: space-between;
  font-size: 36px;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
}

.logo {
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 15%;
  z-index: 1;
  padding: 37px 0;
  font-family: Roboto;
  user-select: none;
}

.below-header {
  display: flex;
  flex: 1;
  /* background-color: red; */
  /* height: 100%; */
}

.work-area {
  display: flex;
  flex: 1;
}
