:root {
  --theme-color: rgba(244, 244, 244, 1);
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

p,
h5,
h6 {
  margin: 0;
  text-decoration: none;
}

h5 {
  font-weight: bolder;
  font-size: 18px;
}

hr {
  margin: 0;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgb(109, 109, 109);
  display: flex;
}

.sidebar {
  width: 17rem;
  height: 100%;
  background-color: var(--theme-color);
  display: flex;
  flex-direction: column;
  z-index: 10;
  padding: 0 15px;
  text-align: center;
  /* position: fixed; */
}

a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.logo {
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 15%;
  /* text-transform: uppercase; */
  z-index: 1;
  padding: 37px 0;
}

.logo a {
  color: white;
}

.Container {
  width: 90%;
  height: 100%;
  margin-left: 12rem;
  background-color: #f3f6f9;
}

.topbar {
  width: 100%;
  height: 10%;
  background-color: #ffffff;
  box-shadow: 0 4px 15px rgb(150, 150, 150);
  display: flex;
  justify-content: center;
  gap: 35%;
  align-items: center;
  position: fixed;
  z-index: 5;
}

.Content {
  width: 100%;
  background-color: #f3f6f9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-block: 2%;
  margin-top: 5.5%;
  padding: 5%;
}

.ContentRow {
  width: 100%;
  background-color: #f3f6f9;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5%;
  margin-block: 2%;
  margin-top: 5.5%;
  padding: 5% 4%;
  position: relative;
}

.box {
  padding: 5px 10px;
  margin-block: 5%;
  text-align: left;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.7s;
  user-select: none;
  font-family: poppins;
}

.box:hover {
  background-color: rgba(244, 237, 175, 1);
  transition: all 0s;
  /* font-weight: 800; */
}
.box .box_head img {
  transition: 1.5s;
  transform: rotateY(0deg) scale(0.95);
}

.box:hover .box_head img {
  transform: rotateY(180deg) scale(1.2);
  transition: 0.3s;
}

.box_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: Black;
  transition: all 0.7s;
}

.box h6 {
  font-size: 18px;
  color: gray;
  transition: 0.4s;
}

.box:hover h6 {
  color: black;
}

/* .box:hover .box_head {
  padding-left: 20px;
  transition: all 0.2s;
} */

.search_bar {
  background-color: rgb(245, 245, 245);
  border: none;
  outline: none;
  width: 350px;
  padding: 5px 10px;
  border-radius: 5px 0 0 5px;
  color: rgb(95, 95, 95);
}

.search_bar:focus {
  border: 2px solid var(--theme-color);
}

.search_btn {
  background-color: var(--theme-color);
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: 0.3s;
}

.search_btn:active {
  background-color: #a738a2;
  transform: scale(1.1);
  transition: 0.05s;
}

.topNav {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
  /* background-color: blue; */
  position: relative;
}

.profile_dropdown {
  position: absolute;
  background-color: white;
  /* border: 1px solid black; */
  width: auto;
  height: auto;
  bottom: -150%;
  left: -50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.topNavIcons {
  cursor: pointer;
  color: gray;
  font-weight: 600;
  position: relative;
  /* background-color: green; */
}

.userDiv {
  /* background-color: var(--theme-color); */
  background-color: gray;
  border-radius: 50%;
  transition: all 0.7s;
  transform: scale(0.7);
}

/*  DROPdoWN*/

.dropdown {
  position: relative;
  display: inline-block;
}

.pDropBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.pDropBtn:hover {
  transition: all 0.3s;
  color: var(--theme-color);
}

.pDropBtn:hover .userDiv {
  /* padding: 3px; */
  background-color: var(--theme-color);
  transform: scale(1);
  transform: rotateY(180deg);
  transition: all 0.5s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 100%;
  text-align: center;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 15px;
}

.dropdown-content a {
  color: black;
  padding: 10px 10px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: var(--theme-color);
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropDwnhndle {
  position: absolute;
  width: 100%;
  height: 20px;
  background-color: transparent;
  z-index: 2;
  top: -20px;
}

/* the all vendors css */

.singleVendorCont {
  background: white;
  /* border-radius: 10px; */
  box-shadow: 0 0px 10px 1px rgb(150, 150, 150);
  width: 250px;
  height: 150px;
  transition: 0.7s;
  display: flex;
  margin: 10px 0;
  justify-content: center;
  align-items: center;
}

.singleVendorCont:hover {
  transform: scale(1.02);
  transition: 0.3s;
  font-size: larger;
}

#logout_Screen {
  width: 100vw;
  height: 100vh;
  top: 0%;
  left: 0%;
  position: absolute;
  background-color: rgba(66, 66, 66, 0.767);
  display: none;
  justify-content: center;
  align-items: center;
}

#logoutBox {
  background-color: white;
  /* box-shadow: 0 0 5px 2px white; */
  border-radius: 5px;
  width: 200px;
  height: auto;
  padding: 17px;
  transform: scale(0);
  transition: 0.3s;
  opacity: 1;
  user-select: none;
}

.logout_Btn_Holder {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 0px 0;
}

.logout_Btn_Holder a {
  color: var(--theme-color);
}

.logout_btns {
  background-color: rgb(238, 238, 238);
  padding: 5px 13px;
  border-radius: 5px;
  cursor: pointer;
}

.logout_btns:hover {
  background-color: var(--theme-color);
  color: white;
}

/* add vendor */

.form_Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_Container h3 {
  margin-block: 0 2%;
  color: var(--theme-color);
  padding: 10px 50px;
  font-weight: bold;
  font-size: 35px;
  text-shadow: 3px 3px 1px rgb(46, 46, 46);
}

.form_box {
  background-color: #ffffff;
  padding: 1.5%;
  width: 35%;
  box-shadow: 0 0 3.5px 0px gray;
}

.form_box:hover {
  box-shadow: 0 0 10px 0px var(--theme-color);
}

.form_box h5 {
  font-weight: 600;
  margin-block: 30px 10px;
}

.admin_vendor_form {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

/* events */

.events_icons_holder {
  position: relative;
  height: min-content;
  position: absolute;
  right: -1%;
  top: -50px;
  transition: 0.3s;
  transform: scale(0.9);
  cursor: pointer;
}

.events_icons_holder:hover {
  transform: scale(1);
  transition: ease-in-out 0.1s;
}

#plus_icon {
  position: absolute;
  bottom: -5%;
  right: -5%;
  animation-duration: 0.3s;
}

.event_form {
  position: relative;
  right: 1%;
  width: 100%;
}

.event_form_box {
  background-color: white;
  width: 400px;
  padding: 20px;
  margin: 70px 50px 0px 0px;
  display: none;
  box-shadow: 0 0 3.5px 0px gray;
  transition: 0.7s;
  overflow: hidden;
  text-overflow: unset;
  opacity: 0;
}

.event_form_box:hover {
  box-shadow: 0 0 10px 0px var(--theme-color);
}

.event_form_box h5 {
  font-weight: 600;
  margin-block: 30px 10px;
}

.admin_event_form {
  width: auto;
  display: flex;
  justify-content: space-evenly;
  transition: all 1s;
}

@keyframes change_Icon {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

#events_holder {
  /* background-color: blue; */
  max-width: fit-content;
  height: fit-content;
  width: 93%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  transition: 0.5s;
}

body::-webkit-scrollbar {
  -ms-overflow-style: none;
  display: none;
  scrollbar-width: none;
}

/* all booth css */

.boothHolder {
  width: 100%;
  background-color: #f3f6f9;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* margin-top: 3.5%; */
  padding: 1% 4%;
  position: relative;
  gap: 1%;
}

.booth {
  transition: all 1s;
  cursor: pointer;
  margin-bottom: 3%;
  background: white;
  box-shadow: 0 0px 10px 1px rgb(150, 150, 150);
  transition: 0.7s;
  margin: 10px 0;
  padding: 10px 5px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.booth:hover {
  color: var(--theme-color);
  transform: scale(1.06);
  transition: all 0.2s;
  box-shadow: 0 0 10px 1px var(--theme-color);
}

.smallBooth {
  width: 140px;
  height: 220px;
  display: flex;
  /* border: 2px dashed blue; */
}

.bigBooth {
  width: 250px;
  height: 220px;
  display: flex;
  /* border: 2px dashed red; */
}

.booth_filter_holder {
  display: flex;
  gap: 20px;
  padding: 8% 4% 1%;
  position: sticky;
}

.booth_filter_holder p {
  color: var(--theme-color);
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  background: white;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  transition: all 0.5s ease;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 600;
  margin: 0;
  cursor: pointer;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.726);
}

.booth_filter_holder p:hover {
  background-color: var(--theme-color);
  color: #fff;
  transform: scale(1.2);
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.151);
  transition: all 0.3s ease;
}
