.header {
  width: 100%;
  height: 100px;
  background: rgba(102, 38, 113, 1);
  color: white;
  display: flex;
  padding-inline: 5%;
  justify-content: space-between;
  font-size: 36px;
  align-items: center;
  /* font-family: ; */
}
